•	GET /vehicles/{vid}/history
•	GET /billing
•	GET /billing/{user}

4.1.5 Vehicles 

De klant kan een vehicle toevoegen met minimaal een licensePlate, make, model, color en year. De licensePlate is altijd uniek. 

De klant kan de vehicle gegevens wijzigen. Dit bevat de make, model, color en year. 

De klant kan een vehicle verwijderen dat aan zijn account is gekoppeld. 

Bedrijven kunnen meerdere voertuigen onder een account beheren. 

4.1.6 Reservations 

De klant kan een reservering aanmaken voor een parkeerplek. De reservering bevat vehicleId, parkingLotId, startTime, endTime en de kosten. 

De klant kan reserveringen zien en annuleren. 

De klant kan een overzicht zien van kosten per sessie/reservering. Bedragen worden berekend op basis van tariefregels van het parking lot. 

Hotelgasten kunnen parkeren zonder betaling. Sessies worden toegewezen aan een hotelcontract. 

4.2 Non-functional 


4.2.1 Security 

Alle wachtwoorden moeten gehashed worden opgeslagen in de database. 

Alle sensitieve gebruikers-data moeten encrypted worden opgeslagen. 

De API moet authenticatie en role management hebben. 

De data moet eens per uur geback-upt worden. 

4.2.2 Maintainabillity  

De code moet een duidelijke structuur implementeren. 

De code moet makkelijk leesbaar zijn(bijv “pep8” in python of code of “C# coding conventions” voor C sharp. 

De code moet zichzelf niet herhalen(DRY). 

4.2.3 Availability 

De API moet binnen 2 seconden reageren op een actie van de gebruiker. 

De API moet minimaal 500 gelijktijdige API-requests kunnen verwerken zonder te veel prestatieproblemen.
Deze eis is  berekend op een geschat gebruikersaantal van ongeveer 10.000 gebruikers per dag. 
Tijdens piekmomenten wordt er dan berekend dat ongeveer 2.000 gebruikers gelijktijdig actief zijn, waarvan naar schatting 200 gebruikers 
tegelijk een request uitvoeren. Om een marge in te bouwen, is hij op 500 gelijktijdige requests gezet. 

4.2.4 Data Management 

De data moet opgeslagen worden in een database. 

De documentatie moet up to date blijven met elke release. 

De documentatie moet zo veel mogelijk automatisch zijn. 

 

4.3 Business requirements 

De API moet gebruikers de kans geven om veilig, efficiënt en comfortabel te kunnen parkeren. 

De API moet de verwerking van bedrijfsaccounts en facturatie daarvan automatisch afhandelen. 

De API moet de verwerking van hotelgasten automatisch doen, voor minder operationele frictie. 

De API moet schaalbaar zijn om de potentiële toekomstige groei aan te kunnen zonder te veel prestatie verlies. 